.tableWrapper{
  tr{
    border-bottom: none;
  }
  tr > td{
    border: none;
    padding: 2px;
    vertical-align: baseline;
    width: 50%;
  }
  .noSpeciality{
    display: flex;
    td:first-child{
      display: none;
    }
    td:last-child{
      width: 100%;
    }
  }
}
